<article>
<h3>Check out our Blogs!</h3>
{{#each xx as |x|}}
<br/><h4><a href="/blog/{{x.id}}">{{x.title}}</a></h4> <span>{{format_date x.updatedAt}} - by {{x.user.username}}</span>
<p>{{truncate x.content}}</p>
{{/each}}
<h2> </h2>
</article>

