<article>
{{#if loggedIn}}
<h2>{{xx.username}}'s Blogs</h2>
<hr><br/>
{{#each xx.blogs as |x|}}
<a href="/blog/{{x.id}}">
<span style="font-weight:bold;font-family:Verdana;font-size:24px">{{x.title}}</span>
  </a><span>- {{format_date x.updatedAt}}</span>
<br/><br/>
{{/each}}
{{else}}
<a href="/login">You must login first to view this page.</a>
{{/if}}
</article>
<!-- This is the form for adding a new blog 
we need 2 new pages: a my dashboard and an add blog form-->
